extends layout
block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p Welcome to To Do List, the digital compass designed to guide individuals through the complexities of daily life. In an era where time is a precious commodity, our platform streamlines and categorizes your tasks, ensuring a harmonious balance between work and play, health and growth. Whether you're chasing a professional milestone, embracing a fitness challenge, diving into personal ventures, or on a relentless pursuit of knowledge, our website is tailored to fit your unique journey. Our mission? To empower you with the tools to craft a more organized, enriched, and fulfilled life. At To Do List, we believe that a well-planned task is already half achieved.