extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | To Do List
          small &nbsp;Forget the clutter, focus on the task.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/todo') Personal
            small &nbsp;
          p.tagline Rediscover You. Every Day.
        .col-xs-12.list-group-item
          h4
            a(href='/todo2') Professional
            small &nbsp;
          p.tagline Achieve. Excel. Repeat.
        .col-xs-12.list-group-item
          h4
            a(href='/todo3') Health and Fitness
            small &nbsp;
          p.tagline Every Drop of Sweat Counts.
        .col-xs-12.list-group-item
          h4
            a(href='/todo4') Learning and Development
            small &nbsp;
          p.tagline Never Stop Growing.
    .col-xs-12.col-sm-4
      p.lead
        | Welcome to To Do List, where life's myriad tasks find structure and purpose. Whether you're charting personal adventures, aiming for professional peaks, committed to a healthier you, or are on an unending journey of learning and growth, we offer you the space to plan, prioritize, and progress.